.Doctor-page-container{
    min-height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top:30px;
}

.Doctor-card-container{
    height: 300px;
    width: 200px;
    background-color: antiquewhite;
    border-radius: 30px;
    
}

